body {
    display: flex;
    justify-content: center;
}

main {
    height: 700px;
    width: 700px;
    background-color: lightgray;
}

.box, .container div {
    display: inline-flex;
    justify-content: center;
    height: 34%;
    width: 33%;
}

.container {
    padding: 20px 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 130px;
}

.container div {
    line-height: 52px;
    font-size: 50px;
    text-align: center;
}

#top-middle, #bottom-middle {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 10px;
}

#middle-left, #middle-right {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
}

#middle-middle {
    border-style: solid;
    border-width: 10px;
}

.top-middle, .bottom-middle {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.middle-left, .middle-right {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
}

.middle-middle {
    border-style: solid;
    border-width: 5px;
}

/* .middle-left, .middle-middle, .middle-right, .bottom-left, .bottom-middle, .bottom-right {
    margin-bottom: 0px;
    border-top-style: solid;
    border-width: 2px;
}

.class {
    border-right-style: solid;
    border-width: 2px;
}

.top-left, .top-middle, .top-right, .middle-left, .middle-middle, .middle-right {
    margin-top: 0px;
    border-bottom-style: solid;
    border-width: 2px;
}

.class {
    border-left-style: solid;
    border-width: 2px;
} */

.playable {
    background-color: green;
}

#end-screen {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 500px;
}