body {
    display: flex;
    justify-content: center;
}

main {
    height: 700px;
    width: 700px;
}

.box {
    display: inline-flex;
    justify-content: center;
    height: 34%;
    width: 33%;
    background-color: lightgray;
}

.container {
    padding: 5px;
}

.container div {
    height: 67px;
    line-height: 67px;
    font-size: 50px;
    text-align: center;
}

#top-middle, #bottom-middle {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 10px;
}

#middle-left, #middle-right {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
}

#middle-middle {
    border-style: solid;
    border-width: 10px;
}

.top-middle, .bottom-middle {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.middle-left, .middle-right {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
}

.middle-middle {
    border-style: solid;
    border-width: 5px;
}

.playable {
    background-color: green;
}